---
layout: default
---

<!--          <a href="{{site.baseurl}}{{post.url}}"><img src="{{ post.feature_image | relative_url }}"
              alt="{{ post.title }}"></a>
-->

<main class="main-content fadeInDown delay_025s" style="flex-grow: 1000;" id="left_graphic_size">
  <div class="left-graphic">
    <svg xmlns="http://www.w3.org/2000/svg" width="300" height="100%">
    </svg>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js"></script>
  <script type="module" src="{{site.baseurl}}/assets/js/ar_graphic.js" crossorigin="anonymous"></script>

  <article class="about">
    <div class="author-inner">
      <div class="author-box">
        {% if site.data.author.image and site.data.author.image != "" %}
        <div class="author-avatar-box">
          <div class="author-avatar" style="background-image: url('{{ site.data.author.image }}')">
            <span class="screen-reader-text">{{ site.data.author.name }}'s Picture</span>
          </div>
          {% include contact.html %}
        </div>
        {% endif %}
        <div class="author-details">
          <div class="author-bio">
            <h1>About Me</h1>
            <p class="long-bio"
              {{ site.data.author.longBio | markdownify }}
            <p>
          </div>
          {% if site.data.author.bio != "" %}
          <span class="author-location">{{site.data.author.name}} - {{site.data.author.bio}}</span>
          {% endif %}
          {% if site.data.author.location and site.data.author.location != "" %}
          <span class="author-location">{{ site.data.author.location}}</span>
          {% endif %}
          {% if site.data.author.url and site.data.author.url != "" %}
          <span class="author-website"><a href="{{ site.data.author.url }}" target="_blank" rel="noopener">{{ site.data.author.url }}</a></span>
          {% endif %}
          <h1 class="author-title">News</h1>
          {% if site.data.author.news.size > 0 %}
            <div class="news-list">
              {% for item in site.data.author.news %}
                <div class="news-item">
                  <span class="news-date" style="margin-botton: 0rem">{{ item.date }}</span>
                  <span class="news-content">{{ item.content | markdownify }}</span>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p class="author-location">No news at the moment, but please check back soon!</p>
          {% endif %}
        </div><!-- .author-details -->
      </div>
    </div><!-- .inner -->
  </article><!-- .post -->
</main><!-- .site-main -->