/* ==========================================================================
   4. Site Header
   ========================================================================== */

.site-header {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0em;
  padding-top: 0em;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(_palette(tertiary), rgba(0, 0, 0, 0));
}

.site-title {
  color: _palette(accent);
  font-family: _font(title);
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 1;

  a {
    color: _palette(accent);
    text-decoration: none;
    &:hover {
      color: _palette(accent-hover);
    }
  }
}

.site-title-low {
  margin: 0.75em 0 0.75em 0;
  font-size: 3rem;

  @media only screen and (max-width: $mobile-size) {
    font-size: 2.5rem;
    letter-spacing: normal;
  }
}

.site-title-high {
  margin: 0.75em 0 1.25em 0;
  font-size: 2.5rem;

  @media only screen and (max-width: $mobile-size) {
    font-size: 2rem;
    letter-spacing: normal;
  }
}

/* Navigation */
.site-navigation {
  width: 100%;
  /* margin-left: auto; */
}

.site-navigation-wrap{
  width: 100%;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  max-width: 1024px;
  width: 100%;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.menu-item {
  display: inline-block;
  max-width: 300px;
  // margin: 0 4em 0 4em;
  padding: 0.5em;
  a {
    color: _palette(nav-text);
    font-family: _font(secondary);
    letter-spacing: 0.25rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 0;
    text-decoration: none;
    &:hover {
      color: _palette(accent-hover);
    }
  }
}

.nav-current {
  border: 1px _palette(border);
  color: _palette(accent);
  // padding-left: 1em;
  // padding-right: 1em;
}

.menu-toggle {
  display: none;
}

/* Site description */
.site-description {
  border-bottom: 1px solid _palette(border);
  font-family: _font(secondary);
  font-size: 1.33333em;
  font-style: italic;
  padding-bottom: 3.33333rem;
  padding-top: 2.22222rem;

  @media only screen and (max-width: $mobile-size) {
    font-size: 1.25em;
    padding-bottom: 2.8125rem;
    padding-top: 1.875rem;
  }

  p {
    margin-bottom: 0;
  }
}

.nav-sidebar {
  background: linear-gradient(90deg, rgba(_palette(tertiary), 0.8) 85%, rgba(0, 0, 0, 0));
  position: absolute;
  left: 0;
  width: 250px;
  height: calc(100vh);
  visibility: hidden;
}

@media only screen and (max-width: $medium-size) {
  #menu-open {
    display: block;
    position: absolute;
    left: 1.5em;
    top: 5.33333rem;
    border: none;
  }

  #menu-close {
    display: block;
    position: absolute;
    left: 1em;
    top: 1em;
    border: none;
  }

  .site-navigation {
    height: 0;
    visibility: hidden;
    /*
    -webkit-overflow-scrolling: touch;
    background: #fff;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    // position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: -1;
     */
  }
  
  .site-navigation-wrap {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  .menu {
    opacity: 0;

    max-width: 300px;
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 999;
  }

  .menu-item {
    /*
    // border-bottom: 1px solid _palette(border);
    margin: 3em;
    &:last-child {
      border: 0;
    }
    a {
      padding: 0.5rem 0;
    }
    */
  }

  .menu--opened {
    .site {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 997;
    }

    .site-navigation {
      position: absolute;
      width: 250px;
      height: 100%;
      left: 0;
      pointer-events: auto;
      visibility: visible;
      animation: fadeInRight 0.2s
    }

    #menu-open {
      display: none;
    }

    #menu-close {
      display: block;
    }

    .menu {
      opacity: 1;
      z-index:999;
    }

    .menu-item {
      padding: 0.5em 3em;
      color: _palette(accent-hover);
    }

    .nav-sidebar {
      visibility: visible;
      animation: fadeInRight 0.5s
    }
  }
}

/*
@media only screen and (max-width: 600px) {
  #menu-close {
    right: 35px;
    top: 2.8125rem;
  }

  .menu {
    padding: 6.375rem 35px 2.5rem;
  }
}
*/
