/* ==========================================================================
   3. Structure
   ========================================================================== */

.inner {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 840px;
}