---
---

/**
 * Scriptor Jekyll Theme 2.0.0
 * By Just Good Themes - https://justgoodthemes.com/
*/

/* ==========================================================================
   Table of Contents
   ========================================================================== */
/*
  0. Icons
  1. Reset
  2. General
  3. Structure
  4. Site Header
  5. Content
  6. Comments
  7. Posts Navigation
  8. Site Footer
  9. Animations
 10. Prism
*/

// Font.
$font: (
  primary: ("Inter", "Garamond", "Helvetica"),
  secondary: ("raleway", "ubuntu", "Aller-Light"),
  title: ("raleway", "ubuntu", "Garamond"),
);

// Palette.
{% assign accent = site.accent_color | default: '#f1c40f' %}

$themes: (
    light: (
        accent:  #475bca, // #343b83, // {{ accent }}, #f1c40f
        accent-hover:  #f5b626, // #f1c40f,
        accent-light: #697ec3, // {{ accent }},  #f2e160
        primary: #2b2b45,
        secondary: #52484e, // #b8adb4
        tertiary: #ffffff, // #b7adb4,
        meta:      #52484e,  // #b8adb4
        main-text: #0f0f0f,  // #ffffff
        border:    #b7adb4,
        bg:       #dddee3,  // #162232,
        nav-text: #52484e,
    ),
    dark: (
        accent:  #f1c40f, // {{ accent }},
        accent-hover:   #f1c40f,
        accent-light: #f2e160, // {{ accent }},
        primary: #2b2b45,
        secondary: #b8adb4,
        tertiary: #000000,
        meta:      #b8adb4,
        main-text: #ffffff,
        border:    #d7d7d7,
        bg:        #162232,
        nav-text: #ffffff,
    )
);

@function _palette($key) {
  @return map-get(map-get($themes, "light"), $key);
}

/*
$palette: (
  accent:   #343b83, // {{ accent }}, #f1c40f
  accent-hover:   #f1c40f,
  accent-light: #697ec3, // {{ accent }},  #f2e160
  primary: #2b2b45,
  secondary: #52484e, // #b8adb4
  tertiary: #b7adb4,
  meta:      #52484e,  // #b8adb4
  main-text: #0f0f0f,  // #ffffff
  border:    #b7adb4,
  bg:       #ffffff  // #162232
);
*/


// Imports
@import "functions";
@import "icons";
@import "reset";
@import "general";
@import "structure";
@import "site-header";
@import "content";
@import "comments";
@import "posts-navigation";
@import "site-footer";
@import "animations";
@import "prism";

ul
{
    list-style-type: none;
}